<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="cryptocurrency, blockchain, Bitcoin, Ethereum, Cardano">
        <meta name="description" content="Website pentru vizualizarea preturilor, stririlor si portofoliului de cryptocurrency.">
        <title>Crypto Insight - home</title>  
		<%- include("../fragmente/head") %>   
    </head>

    <%- include("../fragmente/header") %>

    <body>

    <main>
        
        <section>
            <h2>403 - forbidden</h2>
            <p>Nu aveti acces la aceasta pagina.</p>
        </section>

    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>