<!DOCTYPE html>
<html lang="ro">
	
	<head>

        <meta name="keywords" content="cryptocurrency, blockchain, Bitcoin, Ethereum, Cardano">
        <meta name="description" content="Website pentru vizualizarea preturilor, stririlor si portofoliului de cryptocurrency.">
        <title>Crypto Insight - home</title>  
		<%- include("../fragmente/head") %>

	</head>

	<%- include("../fragmente/header") %>

	<body>

		<main>

			<section id="g1">
				<section id="Top_cryptocurrency">
					<h1>Top cryptocurrency</h1>
					<p>Monedele de crypto care au <b>cel mai mare potential</b> in acest moment!</p>
					
					<section>
						<h3>Bitcoin (BTC)</h3>	
						<p><dfn>BTC</dfn> este cea mai populara <b>moneda de cryptocurrency</b>. Aceasta poate fi vazuta ca un mod de a combate inflatia si atrage foarte multi investitori institutionali la momentul curent.</p>
					</section>
					
					<section>
						<h3>Ethereum (ETH)</h3>
						<p><dfn>ETH</dfn> este moneda lantului de blockchain <b>Ethereum</b>, care este cel mai folosit lant in acest moment. A 2-a cea mai mare moneda dupa BTC.</p>
					</section>

					<section>
						<h3>Cardano (ADA)</h3>
						<p><dfn>ADA</dfn> a vazut o crestere uriasa in ultimul an, aceasta fiind moneda lantului <b>Cardano</b>. Acesta este dezvoltat de unul dintre <b>fondatorii Ethereum</b> si planuieste sa rezolve multe probleme pe care le prezinta Ethereum.</p>

						<details>
							<summary>Ce este Cardano?</summary>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/XMrVrWK1mjA?start=48" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</details>
					</section>
					
				</section> 	
				<hr>
			</section>

			<section id="g2">
				<section id="Evenimente">
					<h2><i class="fas fa-calendar-alt"></i> Evenimente</h2>
					<div id="div-tabel">
						<table id="tabel">
							<thead>
								<tr>
									<th class="col-title">Zi</th>
									<th class="col-title">Podcast-uri</th>
									<th class="col-title">Stream-uri</th>
									<th class="col-title">Giveaway-uri</th>
								</tr>
							</thead>
							<tbody>

								<tr class="actualTableRow">


									<td class="odd-col">Luni </td>
									<td class="even-col">10:00-12:00 UTC</td>
									<td class="odd-col"> - </td>
									<td class="even-col"> - </td>

								</tr>

								<tr class="actualTableRow">

									<td class="odd-col">Marti</td>
									<td class="even-col"> - </td>
									<td class="odd-col">12:00-14:00 UTC</td>
									<td class="even-col"> - </td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Miercuri</td>
									<td class="even-col">10:00-12:00 UTC</td>
									<td class="odd-col">12:00-14:00 UTC</td>
									<td class="even-col"> - </td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Joi</td>
									<td class="even-col"> - </td>
									<td class="odd-col">12:00-14:00 UTC</td>
									<td class="even-col">16:00-18:00 UTC</td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Vineri</td>
									<td class="even-col"> - </td>
									<td class="odd-col"> - </td>
									<td class="even-col">12:00-14:00 UTC</td>
								</tr>
								<tr class="actualTableRow">

									<td class="odd-col">Sambata</td>
									<td class="even-col">12:00-14:00 UTC</td>
									<td class="odd-col"> - </td>
									<td class="even-col"> - </td>
								</tr>
								
							</tbody>
							<tfoot>
								<tr class="actualTableRow">

									<td class="odd-col">Duminica</td>
									<td class="even-col"> - </td>
									<td class="odd-col"> - </td>
									<td class="even-col"> - </td>
								</tr>
							</tfoot>
						</table>
					</div>
				</section>
			</section>

			<section id="g3">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tenetur veritatis autem corporis
					odio nostrum provident deleniti quod reiciendis. Tenetur ad accusantium numquam cum fugit animi
					mollitia repudiandae alias? Atque.</p>
			</section>


			<section id="g4">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum optio hic voluptatem aut debitis
					delectus rerum animi, sapiente ab similique molestiae excepturi quos tempora ea voluptas eligendi
					quasi quae consequuntur.</p>
			</section>

			<section id="g5">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum optio hic voluptatem aut debitis
					delectus rerum animi, sapiente ab similique molestiae excepturi quos tempora ea voluptas eligendi
					quasi quae consequuntur.</p>
			</section>

			<section id="g6">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum optio hic voluptatem aut debitis
					delectus rerum animi, sapiente ab similique molestiae excepturi quos tempora ea voluptas eligendi
					quasi quae consequuntur.</p>
			</section>

			<section id="g7">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			
				<script>
					/* Add "https://api.ipify.org?format=json" statement
					this will communicate with the ipify servers in
					order to retrieve the IP address $.getJSON will
					load JSON-encoded data from the server using a
					GET HTTP request */
			
					$.getJSON("https://api.ipify.org?format=json", function(data) {
						// Setting text of element P with id gfg
						$("#gfg").html(data.ip);
					})
				</script>
			
				<p>IP-ul utilizatorului curent este:</p>
				<p id="gfg"></p>
			</section>
			
			<section id="g8">
				<section id="Nautati">
					<h2>Nautati</h2>

					<details>
						<summary>BTC va atinge <b>80.000$</b> pana la sfarsitul luni spun investitorii!</summary>
						<p>Datele istorice arata ca Bitcoin mereu a avut o crestere uriasa in luna Aprilie, aceasta fiind de aproximativ <b>50%</b> de fiecare data.</p>
						<a href="https://www.fxstreet.com/cryptocurrencies/news/bitcoin-price-to-reach-80k-in-april-based-on-historical-data-and-open-interest-202103290646" target="_blank">Apasa aici pentru a vizualiza articolul.</a>
					</details>

					<br>
					<details>
						<summary>Ethereum amana lansarea solutiilor <b>"Layer 2"</b> pana in Iulie!</summary>
						<p>Din pacate actualizarea mult asteptata a lantului de blockchain <b>Ethereum</b> a trebuit sa fie amanata, dezvoltatorii intampinand probleme in implementarea acesteia.</p>

						<blockquote cite="https://www.theblockcrypto.com/post/99511/ethereum-scaling-solution-optimism-delays-mainnet-launch-estimates-july">
							<strong>" <i lang="en">The mainnet was scheduled to roll out this week, but it has now been postponed at least until July. The new schedule is just a rough estimate, said Optimism, because the launch is a "collaborative effort" of the Ethereum community.</i> "</strong>
						</blockquote>

						<a href="https://www.theblockcrypto.com/post/99511/ethereum-scaling-solution-optimism-delays-mainnet-launch-estimates-july" target="_blank">Apasa aici pentru a vizualiza articolul.</a>
					</details>

					<br>
					<details>
						<summary>Cardano anunta schimbari uriase in urmatoarele luni - <b>Goguen Mainnet</b>!</summary>
						<div class="cardano-iframe">

							<iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/yzqY8zwVYp4?start=482" 
				            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							<div class="taburi-iframe">
					            <a href="https://www.youtube.com/embed/yzqY8zwVYp4?start=482" target="ifr-video">Charles</a>
					            <a href="https://www.youtube.com/embed/Iyy2-FUAFcU" target="ifr-video">Guy</a>
					            <a href="https://www.youtube.com/embed/hHFR0-UrGg8" target="ifr-video">Hashoshi</a><br/>
					        </div>
				            
			        	</div>

					</details>

				</section>
			</section>	

		</main>

		<%- include("../fragmente/footer") %>

	</body>