<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="cryptocurrency, blockchain, Bitcoin, Ethereum, Cardano">
        <meta name="description" content="Website pentru vizualizarea preturilor, stririlor si portofoliului de cryptocurrency.">
        <title>Crypto Insight - home</title>  
		<%- include("../fragmente/head") %>  
    </head>

    <%- include("../fragmente/header") %>

    <body>

    <main>
        
        <%- include("../fragmente/galerie-statica") %>

    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>