<footer>
			
    <hr>

    <div id="watermark">Enache Alexandru</div>

    <section id="Contact">
        <h4>Contact</h4>

        <address>
            Tel: <a href="tel:+40770111222">+40770111222</a><br>
            Email: <a href="mailto:crypto.insight@gmail.com">crypto.insight@gmail.com</a><br>
            Adresa: <a href="https://www.google.com/maps/place/Strada+Banului+1,+Bucure%C8%99ti/@44.4436953,26.0916478,19z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff505053b6df:0x46c7686847501c7f!8m2!3d44.4436953!4d26.092195" target="_blank">Romania, Bucuresti, Str. Banului, nr. 1</a><br>
        </address> 

        <br>
        <small>Copyright &#169; 2021 by Enache Alexandru</small>
    </section>

    <a href="#Start" title="Mergi sus" id="link-top"><div id="triunghi">&#5123;</div></a>

    Pagina a fost creata pe data de <time datetime="2021-03-25 12:00">25.03.2021</time>.
    
    <div>
        <p id="banner"> ACEST SITE REPREZINTA UN PROIECT UNIVERSITAR.</p>
    </div>

</footer>