<header>
    <a href="index" ><img src="/resurse/img/logo.png" id="homeLink"></a>
	<a id = "Start"></a>
</header>

<nav>

    <label id="hamburger" for="ch-menu">
        <img src="/resurse/img/hamburger.png" alt="Menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">

        <li><a href="index"><i class="fas fa-home"></i> <span id="acasa">Acasa</span> </a>
            <ul>
                <li><a href="index#Top_cryptocurrency">Top</a></li>
                <li><a href="index#Evenimente">Evenimente</a></li>
                <li><a href="index#Nautati">Nautati</a></li>
                <li><a href="index#Contact">Contact</a></li>
            </ul>
        </li>
        <li><a href="">Preturi</a></li>
        <li><a href="stiri">Stiri</a></li>
        <li><a href="portofoliu">Portofoliu</a></li>
        <li><a href="">Login/Sign Up</a></li>
        <li><a href="prezentare">Despre noi</a></li>
        <li><div>Produse</div>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <li><a href="/produse?tip_produs=DeFi">DeFi</a></li>
                <li><a href="/produse?tip_produs=Storage">Storage</a></li>
                <li><a href="/produse?tip_produs=Innovation">Innovation</a></li>
                <li><a href="/produse?tip_produs=Stable">Stable</a></li>
            </ul>
        </li>

    </ul>
</nav>

<button id="schimbare-tema" class="light"><i class="far fa-moon" id="butonluna"></i><i class="far fa-sun" id="butonsoare"></i></button>
<script src="/resurse/js/tema.js"></script>