#sectiune-galerie-animata {
  width: 1200px;
  height: 1200px;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 5rem;
}

#galerie-animata {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "anim1 anim2 anim3 anim4" "anim5 anim6 anim7 anim8" "anim9 anim10 anim11 anim12" "anim13 anim14 anim15 anim16";
  position: absolute;
  -webkit-animation-name: galerie4x4;
          animation-name: galerie4x4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 64s;
          animation-duration: 64s;
}

#galerie-animata figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

#galerie-animata figure {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-animation-name: mic_mare;
          animation-name: mic_mare;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#galerie-animata img {
  height: 100%;
}

anim1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: anim1;
}

anim2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: anim2;
}

anim3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: anim3;
}

anim4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: anim4;
}

anim5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: anim5;
}

anim6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: anim6;
}

anim7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: anim7;
}

anim8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: anim8;
}

anim9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: anim9;
}

anim10 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: anim10;
}

anim11 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: anim11;
}

anim12 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: anim12;
}

anim13 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: anim13;
}

anim14 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: anim14;
}

anim15 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: anim15;
}

anim16 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: anim16;
}

@-webkit-keyframes mic_mare {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 1200px;
    height: 1200px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

@keyframes mic_mare {
  0% {
    width: 300px;
    height: 300px;
  }
  50% {
    width: 1200px;
    height: 1200px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

@-webkit-keyframes galerie4x4 {
  0% {
    top: 0px;
    left: 0px;
  }
  3.125% {
    top: 0px;
    left: 0px;
  }
  6.25% {
    top: 0px;
    left: 0px;
  }
  9.375% {
    top: 0px;
    left: -2400px;
  }
  12.5% {
    top: 0px;
    left: 0px;
  }
  15.625% {
    top: 0px;
    left: -1200px;
  }
  18.75% {
    top: 0px;
    left: 0px;
  }
  21.875% {
    top: -1200px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 0px;
  }
  28.125% {
    top: 0px;
    left: -3600px;
  }
  31.25% {
    top: 0px;
    left: 0px;
  }
  34.375% {
    top: -1200px;
    left: -2400px;
  }
  37.5% {
    top: 0px;
    left: 0px;
  }
  40.625% {
    top: -1200px;
    left: -1200px;
  }
  43.75% {
    top: 0px;
    left: 0px;
  }
  46.875% {
    top: -1200px;
    left: -3600px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  53.125% {
    top: -2400px;
    left: 0px;
  }
  56.25% {
    top: 0px;
    left: 0px;
  }
  59.375% {
    top: -2400px;
    left: -1200px;
  }
  62.5% {
    top: 0px;
    left: 0px;
  }
  65.625% {
    top: -2400px;
    left: -2400px;
  }
  68.75% {
    top: 0px;
    left: 0px;
  }
  71.875% {
    top: -2400px;
    left: -3600px;
  }
  75% {
    top: 0px;
    left: 0px;
  }
  78.125% {
    top: -3600px;
    left: 0px;
  }
  81.25% {
    top: 0px;
    left: 0px;
  }
  84.375% {
    top: -3600px;
    left: -1200px;
  }
  87.5% {
    top: 0px;
    left: 0px;
  }
  90.625% {
    top: -3600px;
    left: -2400px;
  }
  93.75% {
    top: 0px;
    left: 0px;
  }
  96.875% {
    top: -3600px;
    left: -3600px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes galerie4x4 {
  0% {
    top: 0px;
    left: 0px;
  }
  3.125% {
    top: 0px;
    left: 0px;
  }
  6.25% {
    top: 0px;
    left: 0px;
  }
  9.375% {
    top: 0px;
    left: -2400px;
  }
  12.5% {
    top: 0px;
    left: 0px;
  }
  15.625% {
    top: 0px;
    left: -1200px;
  }
  18.75% {
    top: 0px;
    left: 0px;
  }
  21.875% {
    top: -1200px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 0px;
  }
  28.125% {
    top: 0px;
    left: -3600px;
  }
  31.25% {
    top: 0px;
    left: 0px;
  }
  34.375% {
    top: -1200px;
    left: -2400px;
  }
  37.5% {
    top: 0px;
    left: 0px;
  }
  40.625% {
    top: -1200px;
    left: -1200px;
  }
  43.75% {
    top: 0px;
    left: 0px;
  }
  46.875% {
    top: -1200px;
    left: -3600px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  53.125% {
    top: -2400px;
    left: 0px;
  }
  56.25% {
    top: 0px;
    left: 0px;
  }
  59.375% {
    top: -2400px;
    left: -1200px;
  }
  62.5% {
    top: 0px;
    left: 0px;
  }
  65.625% {
    top: -2400px;
    left: -2400px;
  }
  68.75% {
    top: 0px;
    left: 0px;
  }
  71.875% {
    top: -2400px;
    left: -3600px;
  }
  75% {
    top: 0px;
    left: 0px;
  }
  78.125% {
    top: -3600px;
    left: 0px;
  }
  81.25% {
    top: 0px;
    left: 0px;
  }
  84.375% {
    top: -3600px;
    left: -1200px;
  }
  87.5% {
    top: 0px;
    left: 0px;
  }
  90.625% {
    top: -3600px;
    left: -2400px;
  }
  93.75% {
    top: 0px;
    left: 0px;
  }
  96.875% {
    top: -3600px;
    left: -3600px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  #sectiune-galerie-animata {
    display: none;
  }
}

#sectiune-galerie-animata:hover * {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/*# sourceMappingURL=galerie-animata4x4.css.map */